VITE_SUPABASE_URL=https://szxgisbouuuxbhrelogv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_4gqqHNU-9rulB4iQFqpGnQ_Jb3kOw3K
VITE_ADMIN_TOKEN=CHANGE_ME_ADMIN_TOKEN
SUPABASE_URL=https://szxgisbouuuxbhrelogv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=PASTE_SERVICE_ROLE_KEY_HERE
ADMIN_TOKEN=CHANGE_ME_ADMIN_TOKEN
